*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display:flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* ОБЩАЯ ВЁРСТКА СТРАНИЦЫ */
.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: end;
  /*min-height: 534px;*/
  width: 1140px
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  width: 100%;
  
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 5px;

}

.title {
  margin-bottom: 24px ;
  width: 260px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
}

.content__accent {
  color: #fff;
}

.content__video-card-description-container {
  max-width: 196px;
  overflow: hidden;
}

.content__video-card-title {
  font-family: 'Oswald',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* СТИЛИЗАЦИЯ ФОРМ */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display:flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  height: 27px;
  width: 225px;
  border-style: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid #FFF;
  color: #fff;
  background-color: #1b1919;
  appearance: none;
  padding: 0;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__textfield:focus,
.search-form__textfield:active {
  outline: 0;
}

/*.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}*/

.search-form__label:has(.search-form__label-text):hover {
  text-decoration: none;
}

/* ЧЕКБОКСЫ*/
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px 1px 1px 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #FFF;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:active ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
}

.search-form__checkbox:focus {
  outline: 0;
  border: 0;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox) {
  cursor: pointer;
}

/* КНОПКИ */

.button {
  border: 1px solid #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button{
  width: 194px;
  height: 34px;
  align-self:flex-end;
}

.more-button {
  width: 390px;
  min-height: 34px;
  flex-shrink: 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* СОСТОЯНИЯ КАРТОЧЕК */

.content__card-link {
  display: block;
  cursor: pointer;
  color: #FFF;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}



